::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 4, 255) !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 4, 255) !important;
  opacity: 1 !important; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 4, 255) !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(0, 4, 255) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(0, 4, 255) !important;
}

.table th, .table td {
    padding: 0.5rem !important;
}


/**************
*   GENERAR CLIENTE
***************/

body {
    min-height: 100vh;
    background: rgb(28,58,109);
    background: linear-gradient(180deg, rgba(28,58,109,1) 0%, rgba(255,255,255,1) 68%, rgba(231,83,60,1) 100%);
    max-width: 100vw;
    overflow-x: hidden;
}
#gencli-form {
    display: flex;
    flex-flow: column;
}
.form-section {
    background-color: #1d1d39;
    border-radius: 5px;
    margin-bottom: 2rem;
    width: clamp(280px, 80vw, 320px);
}
#estado, #detalles {
    width: clamp(280px, 95vw,320px);
    margin: auto;
}
@media (min-width: 760px) {
    #gencli-form {
        flex-flow: row;
        justify-content: space-between;
        max-width: 1000px;
        margin: auto;
    }
    .form-section {
        width: clamp(320px, 95vw, 600px);
    }
    #estado, #detalles {
        max-width: 400px;
        margin-left: 1rem;
    }
}
.logo-container {
    position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
display: grid;
align-content: center;
}
.logo-container img {
    margin:auto;
    max-width: 338px;
    max-height: 112px;
}

.box-custom, input, textarea {
    background-color: #ffffff80;
    border: 0.1rem solid rgba(0, 0, 0, 0.329);
    box-shadow: 0px 0px 2px black;
}

.volver-btn, .volver-button a {
    text-decoration: none;
}
.volver-div {
    position: absolute;
    height: 0px;
    right: 5px;
    top: 5px;
}
.volver-button {
    color: white;
    background-color: rgb(231,83,60);
    transition: color 200ms ease-in-out, background-color 250ms ease-in-out;
}
.volver-button:hover, .volver-button:hover a {
    background-color:#1d1d39;
    color: rgb(231,83,60);
}

.gencli-header {
    flex-direction: column;
}
.error-display ul li {
    color: #e7533c;
    font-weight: bold;
}






