::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 4, 255) !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 4, 255) !important;
  opacity: 1 !important; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 4, 255) !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(0, 4, 255) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(0, 4, 255) !important;
}

